html
  head
    meta(charset='UTF-8')
    |         
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |         
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    |         
    title Home
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    |         
    link(rel='stylesheet', href='stylesheets/style.css')
    |         
    link(href='https://fonts.googleapis.com/css?family=Alfa+Slab+One', rel='stylesheet')
    // Latest compiled and minified JavaScript
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    |         
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
  |     
  body
    .bg.container-fluid
      .row
        .col-md-3.menu
          .logo
            img(src='images/LogoGlasses150.png')
          |                     
          .mainNav
            ul
              li
                a(href='/') HOME
                |                                 
                img(src='images/home.png', alt='')
              |                             
              li
                a(href='/apps') APPS
                |                                 
                img(src='images/apps.png', alt='')
              |                             
              li
                a(href='/services') SERVICES
                |                                 
                img(src='images/services.png', alt='')
              |                             
              li
                a(href='/contact') CONTACT
                |                                 
                img(src='images/contact.png', alt='')
        |                 
        .col-md-9.aboutSection
          .col-md-12.aboutSectionHeader.text-center
            p A Little About Me
          |                     
          .col-md-12.aboutSectionText
            p
              | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima
          |  
          |                     
          .homeBg
        // end col-md-9
      // end row
    // end container
    script(src='javascripts/jquery-ui.min.js')
    |     
    script(src='javascripts/myScripts.js')
