html
  head
    meta(charset='UTF-8')
    |         
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |         
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    |         
    title Home
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    |         
    link(rel='stylesheet', href='stylesheets/style.css')
    |         
    link(href='https://fonts.googleapis.com/css?family=Alfa+Slab+One', rel='stylesheet')
    // Latest compiled and minified JavaScript
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    |         
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
  |     
  body
    .bg.container-fluid
      .row
        .col-md-3.menu
          .logo
            img(src='images/LogoGlasses150.png')
          |                     
          .mainNav
            ul
              li
                a(href='/') HOME
                |                                 
                img(src='images/home.png', alt='')
              |                             
              li
                a(href='/apps') APPS
                |                                 
                img(src='images/apps.png', alt='')
              |                             
              li
                a(href='/about') ABOUT
                |                                 
                img(src='images/about.png', alt='')
              |                             
              li
                a(href='/contact') CONTACT
                |                                 
                img(src='images/contact.png', alt='')
        |                 
        .col-md-9.serviceWrapper(style='padding-top: 35px')
          .col-md-4.serviceBox
            h3 CUSTOM WEBSITES
            |  
            |                         
            p.serviceText
              | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
          |                     
          .col-md-4.serviceBox
            h3 SINGLE PAGE APPS
            |  
            |                         
            p.serviceText
              | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
          |                     
          .col-md-4.serviceBox
            h3 DESKTOP APPS
            |  
            |                         
            p.serviceText
              | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
          |                     
          .col-md-4.serviceBox
            h3 PLUG-INS
            |  
            |                         
            p.serviceText
              | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
          |                     
          .col-md-4.serviceBox
            h3 WP CONVERSION
            |  
            |                         
            p.serviceText
              | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
          |                     
          .col-md-4.serviceBox
            h3 TROUBLESHOOTING
            |  
            |                         
            p.serviceText
              | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
          |                     
          .mainBg
        // end col-md-9
      // end row
    // end container
    script(src='javascripts/jquery-ui.min.js')
    |         
    script(src='javascripts/myScripts.js')
